{% extends 'bosch_production_app/admin_templates/base.html' %} 
{% load static %}
{% block main_content %}
<main>
  <div class="container-fluid">
    <ol class="breadcrumb mb-4 mt-4">
      <li class="breadcrumb-item">Bosch Production System | Dashboard</li>
    </ol>
    <hr />
    <div class="row">
      <div class="col-md-3">
        <div class="card text-white bg-primary mb-3">
          <div class="card-header">Departments</div>
          <div class="card-body">
            <h5 class="card-title">{{ departments }}</h5>
            <hr>
            <p class="card-text">
              <button type="button" class="btn btn-warning">Manage</button>
              <button type="button" class="btn btn-outline-light">Register</button>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card text-white bg-success mb-3">
          <div class="card-header">Employees</div>
          <div class="card-body">
            <h5 class="card-title">{{ employees }}</h5>
            <hr>
            <p class="card-text">
              <button type="button" class="btn btn-danger">Manage</button>
              <button type="button" class="btn btn-outline-light">Register</button>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card text-white bg-danger mb-3">
          <div class="card-header">Components</div>
          <div class="card-body">
            <h5 class="card-title">{{ components }}</h5>
            <hr>
            <p class="card-text">
              <button type="button" class="btn btn-success">Manage</button>
              <button type="button" class="btn btn-outline-light">Register</button>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card text-dark bg-warning mb-3">
          <div class="card-header">Machines</div>
          <div class="card-body">
            <h5 class="card-title">{{ machines }}</h5>
            <hr>
            <p class="card-text">
              <button type="button" class="btn btn-primary">Manage</button>
              <button type="button" class="btn btn-outline-light">Register</button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{%endblock %}
