{% extends 'bosch_production_app/admin_templates/base.html' %} {% block main_content %}
<main>
    <div class="container-fluid">
        <ol class="breadcrumb mb-4 mt-4">
            <li class="breadcrumb-item">Bosch Production System | Operations</li>
        </ol>
        <hr>
        <div class="card mt-4 shadow-lg">
            <div class="card-body">
                <h5 class="card-title">Register Operations</h5>
                <hr>
                <form method="POST" action="{% url 'register_operations' %}">
                    {% csrf_token %} {% if messages %} {% for message in messages %} {% if message.tags == "success" %}
                    <div class="alert alert-success mb-3">{{message}}</div>
                    {% endif %} {% endfor %} {% endif %}
                    <div class="mb-3">
                        <label for="operation_name" class="form-label">Operation Name</label>
                        <input type="text" class="form-control" id="operation_name" name="operation_name" autofocus required>
                    </div>
                    <hr>
                    <button type="submit" class="btn btn-primary">Register Operation</button>
                    <button type="reset" class="btn btn-secondary">Clear Entries</button>
                </form>
            </div>
        </div>
        <div class="card mt-4 shadow-lg">
            <div class="card-body">
                <h5 class="card-title">Operations at <strong>Bosch</strong></h5>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Operation Name</th>
                            <th scope="col">Created At</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for operation in operations %}
                        <tr>
                            <th scope="row">{{ operation.main_id }}</th>
                            <td>{{ operation.operation_name }}</td>
                            <td>{{ operation.created_at }}</td>
                            <td>
                                <a href="/edit_operations/{{ operation.main_id }}" style="text-decoration: none;">
                                    <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>
                                </a>
                                <a href="/delete_operations/{{ operation.main_id }}" style="text-decoration: none;">
                                    <button type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{%endblock %}